In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df=pd.read_csv("H:\priya\heart.csv")

In [64]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [65]:
y=df["target"]

# 1

In [66]:
x=df.drop("target",axis=1)

In [67]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [68]:
x=x.drop("sex",axis=1)

In [69]:
x.head()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,3,145,233,1,0,150,0,2.3,0,0,1
1,37,2,130,250,0,1,187,0,3.5,0,0,2
2,41,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,120,354,0,1,163,1,0.6,2,0,2

In [70]:
y.isna().sum()

0

In [71]:
x.isna().sum()

age         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [72]:
x.dtypes

age           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
dtype: object

In [73]:
type(x)

pandas.core.frame.DataFrame

In [74]:
x.shape

(303, 12)

# 2

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [77]:
x.head()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,3,145,233,1,0,150,0,2.3,0,0,1
1,37,2,130,250,0,1,187,0,3.5,0,0,2
2,41,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,120,354,0,1,163,1,0.6,2,0,2

In [78]:
from sklearn.preprocessing import MinMaxScaler

In [79]:
scaler= MinMaxScaler()

In [80]:
x_train=scaler.fit_transform(x_train)

In [81]:
x_test=scaler.transform(x_test)

# 3

In [82]:
from sklearn.neighbors import KNeighborsClassifier

In [83]:
model=KNeighborsClassifier(n_neighbors=5)

In [84]:
model.fit(x_train,y_train)

KNeighborsClassifier()

# 4

In [85]:
model.score(x_test,y_test)

0.7472527472527473

# Predict

In [89]:
data=pd.DataFrame({0:[54,19],1:[2,3],2:[135,120],3:[210,230],4:[0,1],5:[1,0],6:[160,190],7:[0,1],8:[1.0,1.7],9:[2,0],10:[0,0],11:[2,1]})

In [90]:
data

   0   1    2    3   4   5    6   7    8   9   10  11
0  54   2  135  210   0   1  160   0  1.0   2   0   2
1  19   3  120  230   1   0  190   1  1.7   0   0   1

In [92]:
data=scaler.transform(data)

In [93]:
model.predict(data)

array([1, 0], dtype=int64)