In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("H:\priya\ipl2020.csv")

In [4]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [5]:
df.shape

(399, 15)

In [6]:
df.isna().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

# 1

In [18]:
x=df.drop("total",axis=1)

In [19]:
x

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker
0,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0
1,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0
2,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0
3,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0
4,1,4/18/2008,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,4,4/20/2008,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,RV Uthappa,Z Khan,22,2,3.6,22,2,7,2
395,4,4/20/2008,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,ST Jayasuriya,JH Kallis,23,2,4.0,23,2,7,2
396,4,4/20/2008,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,ST Jayasuriya,JH Kallis,27,2,4.1,27,2,11,2
397,4,4/20/2008,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,ST Jayasuriya,JH Kallis,31,2,4.2,31,2,15,2
398,4,4/20/2008,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,ST Jayasuriya,JH Kallis,31,2,4.3,31,2,15,2

In [20]:
x.dtypes

mid                 int64
date               object
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
dtype: object

In [21]:
x=pd.get_dummies(x,columns=x.columns)

In [22]:
x.dtypes

mid_1             uint8
mid_2             uint8
mid_3             uint8
mid_4             uint8
date_4/18/2008    uint8
                  ...
non-striker_25    uint8
non-striker_26    uint8
non-striker_30    uint8
non-striker_31    uint8
non-striker_32    uint8
Length: 556, dtype: object

In [23]:
type(x)

pandas.core.frame.DataFrame

In [24]:
y=df["total"]

In [25]:
y.isna().sum()

0

# 2

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42,stratify=y)

In [28]:
x.head()

,mid_1,mid_2,mid_3,mid_4,date_4/18/2008,date_4/19/2008,date_4/20/2008,venue_Feroz Shah Kotla,venue_M Chinnaswamy Stadium,"venue_Punjab Cricket Association Stadium, Mohali",...,non-striker_14,non-striker_15,non-striker_19,non-striker_20,non-striker_21,non-striker_25,non-striker_26,non-striker_30,non-striker_31,non-striker_32
0,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# 4

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
model=RandomForestClassifier()

In [31]:
model.fit(x_train,y_train)

RandomForestClassifier()

# 5

In [32]:
model.score(x_test,y_test)

1.0